{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Kumar | Programmer, Learner </title>
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}" />
    <script>document.documentElement.classList.add('js')</script>
</head>

<body>
    <div class="h-svh lg:h-screen bg-white relative overflow-hidden dark:bg-gradient-to-t dark:from-slate-800 dark:to-slate-900">
        <nav class="w-full fixed top-0 z-20 dark:from-slate-800 dark:bg-gradient-to-t dark:to-slate-900 bg-white">
            <div class="container mx-auto py-5 flex justify-between items-center">
                <div class="flex font-bold text-5xl items-center justify-center text-black uppercase dark:text-white">
                    Kumar
                </div>
                <ul class="hidden md:flex lg:space-x-20 md:space-x-10 text-gray-900 dark:text-gray-100 font-bold text-xl uppercase">
                    <li class="hover:text-gray-500">
                        <a href="#">Home</a>
                    </li>
                    <li class="hover:text-gray-500">
                        <a href="#about">About</a>
                    </li>
                    <li class="hover:text-gray-500">
                        <a href="#skills">Skills</a>
                    </li>
                    <li class="hover:text-gray-500">
                        <a href="#projects">Projects</a>
                    </li>
                    <li class="hover:text-gray-500">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <box-icon name='moon' class="cursor-pointer block dark:fill-white" id="sun"></box-icon>
                <!-- <div class="cursor-pointer hidden md:block dark:fill-white" id="sun">
                    <box-icon name='moon'></box-icon>
                </div> -->
                <div id="menu" class="space-y-1 md:hidden cursor-pointer z-20 dark:bg-black">
                    <div class="w-6 h-0.5 bg-black dark:bg-white"></div>
                    <div class="w-6 h-0.5 bg-black dark:bg-white"></div>
                    <div class="w-6 h-0.5 bg-black dark:bg-white"></div>
                </div>
                <ul id="menu2" class="hidden p-28 absolute left-0 top-0 w-full h-svh text-gray-900 font-bold text-xl uppercase rounded-b-3xl bg-white space-y-24 text-center dark:bg-gradient-to-t dark:from-gray-800 dark:to-gray-900 dark:text-white">
                    <li>
                        <a id="hlink" href="#">Home</a>
                    </li>
                    <li>
                        <a id="hlink" href="#about">About</a>
                    </li>
                    <li>
                        <a id="hlink" href="#skills">Skills</a>
                    </li>
                    <li>
                        <a id="hlink" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a id="hlink" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <img class="absolute lg:bottom-0 bottom-10 lg:right-0 lg:h-5/6 object-cover md:right-0 lg:left-0 mx-auto z-10 rounded-full border-4 border-white lg:rounded-none lg:border-none md:bottom-48 md:h-2/5 h-2/4 md:left-0 md:bg-gradient-to-t md:from-indigo-500 md:to-red-300 lg:bg-none bg-white brightness-110"
            src="{% static "img.png" %}">
        <div class="hidden lg:block absolute -bottom-1/3 bg-indigo-400 rounded-full right-0 left-0 mx-auto"
            style="width: 36rem; height: 36rem;"></div>
        <div class="absolute top-36 md:top-96 lg:top-1/3 left-3 text-7xl md:left-20 md:text-9xl lg:text-7xl lg:left-5 font-bold">
            <!-- xl:left-48 xl:text-7xl -->
            <span class="text-black dark:text-white">Freelancer</span>
            <p id="text" class="text-red-600 md:text-9xl text-5xl lg:text-5xl mt-5"></p>
        </div>
        <div class="hidden lg:flex flex-col gap-5 rounded-md shadow-lg absolute top-0 bottom-0 m-auto right-10 bg-white p-6 h-fit w-1/4 dark:bg-slate-900 dark:shadow-white dark:border-2 dark:border-white">
            <h1 class="text-4xl font-bold text-indigo-600 dark:text-indigo-400">Hi, I'm Kumar</h1>
            <p class="text-gray-400 dark:text-gray-200">
                Waiting for Opportunities!
            </p>
            <a class="bg-indigo-500 text-white text-xl px-3 py-2 rounded-md w-fit" href="#contact">Hire Me</a>
        </div>
    </div>

    <!-- about -->

    <div id="about" class="px-10 dark:bg-slate-900 bg-white dark:from-slate-800 dark:to-slate-900">
        <div class="container mx-auto py-40 gap-20 flex flex-col-reverse lg:flex-row items-center">
            <div class="relative delay-[200ms] duration-[600ms] taos:translate-x-[-100%] taos:invisible [animation-iteration-count:infinite]" data-taos-offset="200">
                <img class="h-2/4 absolute top-0 left-0 " src="{% static "dot.png" %}" alt="">
                <div class="rounded-full overflow-hidden h-96 w-96 bg-pink-200 border-4 dark:rounded-full dark:shadow-2xl dark:shadow-white border-white brightness-110">
                    <img src="{% static "img.png" %}" alt="">
                </div>
            </div>
            <div class="my-auto flex flex-col gap-3">
                <h1 class="text-indigo-500 font-bold text-4xl uppercase">Get to Know <span class="bg-gradient-to-b from-orange-500 to-yellow-500 bg-clip-text text-transparent">About Me</span></h1>
                <h1 class="text-3xl font-medium uppercase dark:text-white">Software Engineer</h1>
                <h1 class="text-3xl font-medium uppercase dark:text-white">App Developer</h1>
                <p class="text-gray-600 dark:text-slate-300 delay-[360ms] duration-[600ms] taos:scale-[0.6] taos:opacity-0 [animation-iteration-count:infinite]">
                    Hi, I'm <span class="text-2xl font-medium bg-red-300 px-1 dark:text-white">Nitesh Kumar</span>
                    pursuing B. Tech Computer Science Engineering from Panipat Institute
                    of Engineering and Techknology. I used to learn new things everyday instead of wasting valueable
                    time to develop my skills.
                </p>
            </div>
        </div>
    </div>

    <!-- skills -->

    <div id="skills" class="dark:bg-slate-900 py-20 px-5 bg-white dark:from-slate-800 dark:to-slate-900">
        <div class="container mx-auto">
            <div class="flex flex-col gap-7 items-center">
                <h1 class="text-indigo-500 font-bold text-4xl uppercase">My <span
                        class="bg-gradient-to-b from-orange-500 to-yellow-500 bg-clip-text text-transparent">Technological</span>
                    Specifications</h1>
                <h3 class="text-2xl font-semibold text-gray-500 dark:text-gray-200">My Tech Treasure - The Secret Behind
                    My Projects</h3>
            </div>

            <!-- Languages -->

            <div class="flex items-center mt-10">
                <h1 class="text-3xl font-bold dark:text-white">Languages</h1>
            </div>
            <div class="p-5 sm:p-0 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 justify-center gap-10 mt-14">
                <div class="w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite]">
                    <img class="w-12 h-12" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/C_Programming_Language.svg/926px-C_Programming_Language.svg.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">C</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">Never Used Since The First Sem</p>
                    </div>
                </div>
                <div class="w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite] md:delay-500 hover:delay-300">
                    <img class="w-12 h-12" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1822px-ISO_C%2B%2B_Logo.svg.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">C++</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">Introduced OOPs Concepts to Me</p>
                    </div>
                </div>
                <div class="w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite] lg:delay-700 hover:delay-300">
                    <img class="w-12 h-12" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">Python</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">My goto language for conquering DSA</p>
                    </div>
                </div>
                <div class="w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite] md:delay-500 hover:delay-300 lg:delay-500">
                    <img class="w-12 h-12" src="https://cdn.iconscout.com/icon/free/png-256/free-java-60-1174953.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">Java</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">Never Used Since The Fifth Sem</p>
                    </div>
                </div>
                <div class="w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite] md:delay-500 hover:delay-300">
                    <img class="w-12 h-12" src="https://cdn-icons-png.flaticon.com/512/732/732212.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">HTML</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">Where Kids Start their coding adventure</p>
                    </div>
                </div>
                <div class="w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite] lg:delay-700 hover:delay-300">
                    <img class="w-12 h-12"
                        src="https://cdn4.iconfinder.com/data/icons/iconsimple-programming/512/css-512.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">CSS</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">Play with 'Justify' and 'Align' - a confusion</p>
                    </div>
                </div>
                <div class="w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite]">
                    <img class="w-12 h-12" src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">JavaScript</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">Functioning of Every Successful Webpage</p>
                    </div>
                </div>
                <div class="w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite] md:delay-500 hover:delay-300">
                    <img class="w-14 h-7"
                        src="https://kotlinlang.org/docs/images/kotlin-logo.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">Kotlin</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">Where My projects gets shape</p>
                    </div>
                </div>
            </div>

            <!-- FrameWorks -->

            <div class="flex items-center mt-10">
                <h1 class="text-3xl font-bold dark:text-white">FrameWorks</h1>
            </div>
            <div class="p-5 sm:p-0 grid grid-cols-1 md:grid-cols-2 justify-center gap-10 mt-14">
                <div class="w-full md:w-full h-fit shadow-xl rounded-lg px-8 py-2 md:py-6 lg:py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite]">
                    <img class="w-12 h-12" src="https://cdn1.iconfinder.com/data/icons/programing-development-8/24/react_logo-512.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">React</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">'npm run dev'</p>
                    </div>
                </div>
                <div class="w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite] md:delay-500 hover:delay-300">
                    <img class="w-12 h-12" src="https://static-00.iconduck.com/assets.00/node-js-icon-227x256-913nazt0.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">Node.js</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">npm - code magic in three letters</p>
                    </div>
                </div>
            </div>

            <!-- Developer Tools -->

            <div class="flex items-center mt-10">
                <h1 class="text-3xl font-bold dark:text-white">Developer Tools</h1>
            </div>
            <div class="p-5 sm:p-0 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-center gap-10 mt-14">
                <div class="w-full md:w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite]">
                    <img class="w-12 h-12" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/1200px-Visual_Studio_Code_1.35_icon.svg.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">VS Code</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">The All Rounder - Just like Me!</p>
                    </div>
                </div>
                <div class="w-full h-fit shadow-xl rounded-lg px-8 py-2 md:py-6 lg:py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite] md:delay-500 hover:delay-300">
                    <img class="w-12 h-12" src="{% static "android-studio.png" %}" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-xl dark:text-white">Android Studio</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">Where Code takes Shapes</p>
                    </div>
                </div>
                <div class="w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite] lg:delay-700 hover:delay-300">
                    <img class="w-12 h-12" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Git_icon.svg/1200px-Git_icon.svg.png" alt="" >
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">Git</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">Keybaord trio - G.I.T.</p>
                    </div>
                </div>
                <div class="w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite] md:delay-500 hover:delay-300 lg:delay-1000">
                    <img class="w-12 h-12" src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">GitHub</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">Online Space for Projects</p>
                    </div>
                </div>
            </div>

            <!-- Libraries -->

            <div class="flex items-center mt-10">
                <h1 class="text-3xl font-bold dark:text-white">Libraries</h1>
            </div>
            <div class="p-5 sm:p-0 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-center gap-10 mt-14">
                <div class="w-full md:w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite]">
                    <img class="w-12 h-12"  src="https://user-images.githubusercontent.com/50221806/86498201-a8bd8680-bd39-11ea-9d08-66b610a8dc01.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">Numpy</h1>
                    </div>
                </div>
                <div
                    class="w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite] md:delay-500 hover:delay-300">
                    <img class="w-12 h-12" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Pandas_mark.svg/1200px-Pandas_mark.svg.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">Pandas</h1>
                    </div>
                </div>
                <div class="w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite] lg:delay-700 hover:delay-300">
                    <img class="w-12 h-12" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Matplotlib_icon.svg/2048px-Matplotlib_icon.svg.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">Matplotlib</h1>
                    </div>
                </div>
                <div class="w-full h-fit shadow-xl rounded-lg px-8 py-4 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite] md:delay-500 hover:delay-300 lg:delay-1000">
                    <img class="w-12 h-8" src="https://static.djangoproject.com/img/logos/django-logo-positive.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">Django</h1>
                    </div>
                </div>
            </div>

            <!-- CSS FrameWorks -->

            <div class="flex items-center mt-10">
                <h1 class="text-3xl font-bold dark:text-white">CSS FrameWorks</h1>
            </div>
            <div class="p-5 sm:p-0 grid grid-cols-1 md:grid-cols-2 justify-center gap-10 mt-14">
                <div class="w-full md:w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite]">
                    <img class="w-12 h-8" src="https://static-00.iconduck.com/assets.00/tailwind-css-icon-2048x1229-u8dzt4uh.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">Tailwind CSS</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">Completely used in This Portfolio</p>
                    </div>
                </div>
                <div class="w-full h-fit shadow-xl rounded-lg px-8 py-2 md:py-6 lg:py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite] md:delay-500 hover:delay-300">
                    <img class="w-12 h-10" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">Bootstrap</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">Work Smart - YKIYK!</p>
                    </div>
                </div>
            </div>

            <!-- Databases -->

            <div class="flex items-center mt-10">
                <h1 class="text-3xl font-bold dark:text-white">Databases</h1>
            </div>
            <div class="p-5 sm:p-0 grid grid-cols-1 md:grid-cols-2 justify-center gap-10 mt-14">
                <div class="w-full md:w-full h-fit shadow-xl rounded-lg px-8 py-2 md:py-6 lg:py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite]">
                    <img class="w-12 h-8" src="{% static "sqlite.png" %}" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">SqLite</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">Used for Django Backend</p>
                    </div>
                </div>
                <div
                    class="w-full h-fit shadow-xl rounded-lg px-8 py-2 flex flex-row gap-5 hover:dark:shadow-white hover:dark:shadow-xl dark:rounded-lg hover:dark:border-white hover:dark:border-2 bg-white dark:bg-slate-700 items-center hover:-translate-y-7 hover:shadow-xl hover:shadow-slate-500 hover:border-2 hover:border-gray-700 ease-in-out duration-[600ms] hover:duration-300 delay-[300ms] taos:[transform:translate3d(-200px,0,0)_scale(0.6)] taos:opacity-0  [animation-iteration-count:infinite] md:delay-500 hover:delay-300">
                    <img class="w-12 h-12" src="https://cdn-icons-png.flaticon.com/512/5968/5968313.png" alt="">
                    <div class="flex flex-col">
                        <h1 class="font-bold text-2xl dark:text-white">MySQL</h1>
                        <p class="text-gray-500 dark:text-gray-100 text-xl">I have a Strong catch on MySQL</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- projects -->

    <div class="py-20 px-5 dark:bg-slate-900 bg-white dark:from-slate-800 dark:to-slate-900" id="projects">
        <div class="container mx-auto">
            <div class="flex flex-col gap-7 items-center">
                <h1 class="text-indigo-500 font-bold text-4xl uppercase">The Best Of My <span
                        class="bg-gradient-to-b from-orange-500 to-yellow-500 bg-clip-text text-transparent">Projects</span>
                </h1>
                <h3 class="text-2xl font-semibold text-gray-500 dark:text-gray-300">I'm Showcasing Some of My Projects
                    Here.</h3>
                <h3 class="text-2xl font-semibold text-gray-500 dark:text-gray-200">I have Worked on Many Projects but
                    these are some of My Best Projects.</h3>
            </div>
            <div class="mt-10 p-5 lg:flex lg:flex-wrap flex flex-wrap md:grid md:grid-cols-2 justify-center items-center gap-10">
                <div class="w-full lg:w-3/12 shadow-xl rounded-lg p-5 flex flex-col gap-3 dark:shadow-white dark:shadow-xl dark:rounded-lg dark:border-white dark:border-2 bg-white dark:bg-slate-700 hover:scale-105 ease-in-out duration-[600ms] delay-[300ms] taos:[transform:translate3d(0,200px,0)_scale(0.6)] taos:opacity-0 [animation-iteration-count:infinite]">
                    <img class="w-full h-full"
                        src="{% static "portfolio.png" %}"
                        alt="">
                    <p class="text-gray-500 dark:text-white bg-yellow-300 w-fit px-2 rounded-md">Django, HTML, Tailwind CSS, JavaScript</p>
                    <div class="flex justify-between items-center">
                        <h1 class="font-bold text-2xl dark:text-white">Porfolio</h1>
                        <div class="text-2xl text-gray-700 hover:scale-125 items-center cursor-pointer dark:text-white dark:fill-white">
                            <a href="https://github.com/kumarbaberwal/personal-portfolio" target="_blank" class="dark:fill-white"><box-icon name='github' type='logo'></box-icon></a>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-3/12 shadow-xl rounded-lg p-5 flex flex-col gap-3 dark:shadow-white dark:shadow-xl dark:rounded-lg dark:border-white dark:border-2 bg-white dark:bg-slate-700 hover:scale-105 ease-in-out duration-[600ms] delay-[300ms] taos:[transform:translate3d(0,200px,0)_scale(0.6)] taos:opacity-0 [animation-iteration-count:infinite]">
                    <img class="w-full h-full"
                        src="{% static "Calculator.png" %}"
                        alt="">
                    <p class="text-gray-500 dark:text-white bg-yellow-300 w-fit px-2 rounded-md">Android Studio, Kotlin</p>
                    <div class="flex justify-between items-center">
                        <h1 class="font-bold text-2xl dark:text-white">Calculator</h1>
                        <div class="text-2xl text-gray-700 hover:scale-125 items-center cursor-pointer dark:text-white dark:fill-white">
                            <a href="https://github.com/kumarbaberwal/calculator" target="_blank" class="dark:fill-white"><box-icon name='github' type='logo'></box-icon></a>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-3/12 shadow-xl rounded-lg p-5 flex flex-col gap-3 dark:shadow-white dark:shadow-xl dark:rounded-lg dark:border-white dark:border-2 bg-white dark:bg-slate-700 hover:scale-105 ease-in-out duration-[600ms] delay-[300ms] taos:[transform:translate3d(0,200px,0)_scale(0.6)] taos:opacity-0 [animation-iteration-count:infinite]">
                    <img class="w-full h-full"
                        src="{% static "StudentManagementSystem.png" %}"
                        alt="">
                    <p class="text-gray-500 dark:text-white bg-yellow-300 w-fit px-2 rounded-md">Python, MySQL</p>
                    <div class="flex justify-between items-center">
                        <h1 class="font-bold text-2xl dark:text-white">Student Management System</h1>
                        <div class="text-2xl text-gray-700 hover:scale-125 items-center cursor-pointer dark:text-white dark:fill-white">
                            <a href="https://github.com/kumarbaberwal/studentmanagementsystem" target="_blank" class="dark:fill-white"><box-icon name='github' type='logo'></box-icon></a>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-3/12 shadow-xl rounded-lg p-5 flex flex-col gap-3 dark:shadow-white dark:shadow-xl dark:rounded-lg dark:border-white dark:border-2 bg-white dark:bg-slate-700 hover:scale-105 ease-in-out duration-[600ms] delay-[300ms] taos:[transform:translate3d(0,200px,0)_scale(0.6)] taos:opacity-0 [animation-iteration-count:infinite]">
                    <img class="w-full h-full"
                        src="{% static "tic-tac-toe.jpg" %}"
                        alt="">
                    <p class="text-gray-500 dark:text-white bg-yellow-300 w-fit px-2 rounded-md">JavaScript, CSS, HTML</p>
                    <div class="flex justify-between items-center">
                        <h1 class="font-bold text-2xl dark:text-white">Tic Tac Toe</h1>
                        <div class="text-2xl text-gray-700 hover:scale-125 items-center cursor-pointer dark:text-white dark:fill-white">
                            <a href="https://github.com/kumarbaberwal/tic-tac-toe" target="_blank" class="dark:fill-white"><box-icon name='github' type='logo'></box-icon></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- contact -->

    <div id="contact" class="dark:bg-slate-900 py-20 px-5 bg-white dark:from-slate-800 dark:to-slate-900">
        <div class="container mx-auto">
            <div class="flex flex-col gap-7 items-center">
                <h1 class="text-indigo-500 font-bold text-4xl uppercase">Let's <span
                        class="bg-gradient-to-b from-orange-500 to-yellow-500 bg-clip-text text-transparent">Connect</span>
                </h1>
                <h3 class="text-2xl font-semibold text-gray-500 dark:text-gray-200">I'm an Introvert who only talk when
                    it is needed, especially when the topic piques my interest. Lol!</h3>
            </div>
            <div class="flex flex-col md:flex-row mx-auto justify-center gap-16 md:w-5/6">
                <div class="md:w-2/3 p-5 w-full delay-[300ms] duration-[600ms] taos:[transform:translate3d(-200px,200px,0)] taos:opacity-0 [animation-iteration-count:infinite]">
                    <div class="mt-5 flex flex-col">
                        <h1 class="text-4xl font-bold dark:text-white">Message Me</h1>
                    </div>
                    <form method="post" action="#" class="mt-5 flex flex-col gap-5 items-center">
                        {% csrf_token %}
                        <div class="flex flex-col md:flex-row w-full md:gap-2 gap-4">
                            <input class="p-2 w-full ring-1 ring-indigo-300 rounded-md dark:bg-white dark:ring-0 dark:text-black" type="text" placeholder="Name" id="Name" name="Name" required>
                            <input class="p-2 w-full ring-1 ring-indigo-300 rounded-md dark:bg-white dark:ring-0 dark:text-black" type="email" placeholder="Email" id="Email" name="Email" required>
                        </div>
                        <textarea class="p-2 w-full ring-1 ring-indigo-300 rounded-md dark:bg-white dark:ring-0 dark:text-black" cols="30" rows="10" placeholder="Message..." id="Message" name="Message" required></textarea>
                        <button class="w-full bg-indigo-600 text-white font-medium px-3 py-2 rounded-md cursor-pointer">Submit</button>
                    </form>
                </div>
                <div class="p-5 md:w-1/3 w-full delay-[300] duration-[600ms] taos:[transform:perspective(2500px)_rotateX(-100deg)] taos:invisible taos:[backface-visibility:hidden] [animation-iteration-count:infinite] ease-[cubic-bezier(.47,0,.745,.715)]">
                    <div class="mt-5 flex flex-col">
                        <h1 class="text-4xl font-bold dark:text-white">Contact</h1>
                    </div>
                    <div class="mt-5 font-semibold text-xl text-gray-700 hover:text-blue-700 hover:fill-blue-600 hover:scale-105 flex gap-1 justify-center items-center cursor-pointer dark:text-white dark:fill-white">
                        <box-icon name='mail-send'></box-icon>
                        <a href="mailto:niteshkumarghn1@gmail.com" target="_blank">
                            niteshkumarghn1@gmail.com
                        </a>
                    </div>
                    <div class="mt-20 flex flex-col">
                        <h1 class="text-3xl font-bold dark:text-white">Social Media</h1>
                    </div>
                    <div class="mt-5 font-semibold text-xl text-gray-700 hover:text-blue-700 hover:fill-blue-600 hover:scale-105 flex gap-1 items-center cursor-pointer dark:text-white dark:fill-white">
                        <box-icon name='youtube' type='logo'></box-icon>
                        <a href="https://www.youtube.com/@Strange_Coder" target="_blank">YouTube</a>
                    </div>
                    <div class="mt-5 font-semibold text-xl text-gray-700 hover:text-blue-700 hover:fill-blue-600 hover:scale-105 flex gap-1 items-center cursor-pointer dark:text-white dark:fill-white">
                        <box-icon name='github' type='logo'></box-icon>
                        <a href="https://github.com/kumarbaberwal" target="_blank">GitHub</a>
                    </div>
                    <div class="mt-5 font-semibold text-xl text-gray-700 hover:text-blue-700 hover:fill-blue-600 hover:scale-105 flex gap-1 items-center cursor-pointer dark:text-white dark:fill-white">
                        <box-icon name='linkedin' type='logo'></box-icon>
                        <a href="https://www.linkedin.com/in/mrniteshkumar/" target="_blank">LinkedIN</a>
                    </div>
                    <div class="mt-5 font-semibold text-xl text-gray-700 hover:text-blue-700 hover:fill-blue-600 hover:scale-105 flex gap-1 items-center cursor-pointer dark:text-white dark:fill-white">
                        <box-icon name='twitter' type='logo'></box-icon>
                        <a href="https://twitter.com/Strange__Coder" target="_blank">Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Message -->
    {% if messages %}
    {% for message in messages %}
    <div class="bg-white text-black font-bold md:text-xl my-0 items-center justify-center flex md:w-1/3 w-fit h-fit dark:text-white dark:bg-gradient-to-r dark:from-gray-600 dark:to-slate-700 absolute space-x-4 top-24 right-10 p-6 rounded-lg border-2 border-black fill-green-900"
        id="alert">
        <box-icon name='check-circle'></box-icon>
        <div class="flex items-center justify-center">{{ message }}</div>
        <div id="close" class="cursor-pointer z-20 md:right-4 right-1 md:top-auto top-3 absolute">
            <div class="w-6 h-0.5 bg-black dark:bg-white rotate-45"></div>
            <div class="w-6 h-0.5 bg-black dark:bg-white -rotate-45"></div>
        </div>
        <div id="progress-bar" class="w-0 h-2 bg-green-900 absolute bottom-0 items-center flex justify-center right-0 rounded-lg"></div>
    </div>
    {% endfor %}
    {% endif %}

    <script src="{% static "progressbar.js" %}"></script>
    <script src="{% static "autotyping.js" %}"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="{% static "index.js" %}"></script>
    <script src="{% static "darkmode.js" %}"></script>
    <script src="{% static "alert.js" %}"></script>
    <script src="{% static "preventrightclick.js" %}"></script>
    <script src="https://unpkg.com/taos@1.0.5/dist/taos.js"></script>
</body>

</html>
